:root {
  --background: white;
  --list-background: white;
  --list-border: #dddddd;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: black;
  --list-background: #1a1a1a;
  --list-border: #444444;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

.back-button-visible {
  display: none !important;
}

.back-button-hidden {
  display: none !important;
}

.chart-visible {
  display: flex !important;
}

.chart-hidden {
  display: flex !important;
}

.list-visible {
  display: flex !important;
}

.list-hidden {
  display: flex !important;
}

html {
  background-color: #888888;
}

.App {
  font-family: "Lato";
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

p {
  color: var(--text-primary);
}

@media screen and (max-width: 512px) {
  .back-button-visible {
    display: inline-block !important;
  }
  
  .back-button-hidden {
    display: none !important;
  }

  .chart-visible {
    display: flex !important;
  }
  
  .chart-hidden {
    display: none !important;
  }
  
  .list-visible {
    display: flex !important;
  }
  
  .list-hidden {
    display: none !important;
  }
}